<div class="col-xs-12 col-sm-12 col-md-4 bg-panel" style="background-image: url('{{activity.photos[0].url}}');">
</div>
<div class="col-xs-12 col-sm-12 col-md-4 fg-panel">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{activity.name}}</h3>
            </div>
    <div class="panel-body activity-body" style="background-image: url('{{activity.photos[0].url}}');">
        <div class="row panel-item">
            <div>
                <div class="col-xs-6 col-md-8 no-border panel-item">
                    <button	class="btn btn-warning didit" 
							ng-show="get_user()!=null"
							ng-class="{completed:(activity.completed)}"
							ng-click="complete_activity(activity.id)">
                        <i class="glyphicon glyphicon-star" style="color:yellow">
                        </i>
                        <p>I did it</p>
                    </button>
                </div>
                <div class="col-xs-6 col-md-4 upvote-panel panel-item">
                    <div class="row text-center upvote-inner">
                        <div class="col-xs-12 pull-right">
                            <div class="col-xs-12">
                                <button class="btn btn-default btn-lg vote_selected"
										ng-disabled="get_user()==null"
										ng-click="vote.vote_up(activity.id)">
											<i style="color:green" class="glyphicon glyphicon-thumbs-up"></i></button>
                            </div>
                            <div class="col-xs-12">
                                <span class="label">{{activity.avg_vote}}</span>
                            </div>
                            <div class="col-xs-12">
                                <button class="btn btn-default btn-lg vote_selected" 
										ng-disabled="get_user()==null"
										ng-click="vote.vote_down(activity.id)">
											<i style="color:red" class="glyphicon glyphicon-thumbs-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
						{{activity}}
                        <p>{{activity.description}}</p>
						<p>@{{activity.location}}</p>
                        <a href="/#!/activities/{{activity.id}}" class="btn btn-info">More<i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>