.avatar {
    padding: 10px;
    border: 3px solid rgb(230, 230, 230);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}
.top-buffer { 
    margin-top:5%; 
}

.badge-img {
    max-height: 100px;
    max-width: 100px;
    margin: 10px 0;
}

.topline {
    border-top: 1px solid #E2E2E2;
}

.section {
    display: block;
    font: 700 14px/1.2142857142 Lato, sans-serif;
    letter-spacing: 0.1em;
    max-width: 696px;
    padding: 8px 0 9px;
    text-transform: uppercase;
    float: right;
}

.more {
    display: block;
    font: 700 14px/1.2142857142 Lato, sans-serif;
    letter-spacing: 0.1em;
    max-width: 696px;
    padding: 8px 0 9px;
    text-transform: lowercase;
    float: left;
}

.name {
    font: italic 700 68px/1 "Playfair Display", serif;
    max-width: 696px;
    text-transform: uppercase;
    text-align: left;
}

#wrap > .container {
    padding: 60px 15px 0;
}

@media (min-width:768px) {
.container {
    width:100%;
}

#main-content{
    height: auto; 
}
#main-content > .row {
    overflow-y:hidden;
    white-space:nowrap;
}    
#main-content > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"] {
    float:none;
    display:inline-block