#wrap > .container {
    padding: 60px 15px 0;
}

@media (min-width:768px) {
.container {
    width:100%;
}
#main-content{
    height: auto; 
   
}
#main-content > .row {
    overflow-y:hidden;
    white-space:nowrap;
}    
#main-content > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"] {
    float:none;
    display:inline-block;
}

.top-buffer { 
    margin-top:5%; 
}