/* @override http://cse210-kite.herokuapp.com/css/style.css?v=1.0 */

/* @override http://cse210-kite.herokuapp.com/css/style.css */

body {
    padding: 70px 0px;
    background: -moz-linear-gradient(90deg, rgb(130, 30, 216) 0%, rgb(75, 13, 134) 63.6%) scroll;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(130, 30, 216)), color-stop(0.636, rgb(75, 13, 134))) scroll;
}

.nav-pills li.active a{
    background-color: #882bdf !important;
    color: white !important;
}

.nav-pills li a {
    color: #882bdf !important;
}

.bg-panel {
    height: 400px;
    background-clip:content-box;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: -300px;
    -webkit-filter:blur(2px);
    width: 300px !important;
    margin-bottom: 20px;
}

.fg-panel {
    margin-bottom: -400px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 300px !important;
}

.angular-google-map-container { height: 200px; }

.fg-panel .panel-default {
    height: 400px;
}

.panel-default {
    background-color: transparent !important;
    background-image: none;
    border-color: #000000 !important;
}

.fg-panel .panel-body{
    border-color: #000000 !important;
}
.fg-panel .panel-footer{
    height: 123px;
}

.panel-footer, .panel-heading {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
    border-color: #000000 !important;
}

.panel-login{
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: white !important;
    border-color: #000000 !important;
}

.panel-heading {
    padding:10px 10px;
    height: 75px;
    background-image: none !important;
}
.panel-default .activity-body{
    padding:0;
    margin:0;
    background-color:black;
    background-size: 100% auto;
}

.panel-default .panel-body .panel-item{
    height:200px;
    margin-right: 0;
}
.noborder-color {
    border-color: transparent;
}

.no-border{
    padding: 0;
    margin: 0;
}

.center-y{
    vertical-align:middle;
    }
.center-x{
    text-align:center;
    }

.center-outer{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.upvote-panel{
    background-image: -webkit-gradient(linear, left bottom, right bottom, from(rgba(0, 0, 0, 0)), color-stop(0.636, rgba(0, 0, 0, .5)));
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 63.6%);
}

.upvote-inner {
    top: 40px;
    position: absolute;
}

#map-canvas{
    padding: 0px;
}
