/* @override http://cse210-kite.herokuapp.com/css/style.css?v=1.1.3 */

/* @override http://cse210-kite.herokuapp.com/css/style.css?v=1.0.1 */

/* @override http://cse210-kite.herokuapp.com/css/style.css?v=1.0 */

/* @override http://cse210-kite.herokuapp.com/css/style.css */

body {
    padding: 70px 0px;
    background: -moz-linear-gradient(90deg, rgb(130, 30, 216) 0%, rgb(75, 13, 134) 63.6%) fixed;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(130, 30, 216)), color-stop(0.636, rgb(75, 13, 134))) fixed;font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, label {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 0;
    text-indent: 3px !important;
    white-space: normal !important;
}

h1, h2, h3{
    font-weight: 300 !important;
}

h4, h5, h6, p {
    font-weight: 300 !important;
}

.navbar{
    background: none rgba(0,0,0, 0.5) !important;
}

.navbar a, .name, .topline{
    color: white !important;
}

.nav-pills li.active a{
    background-color: #882bdf !important;
    color: white !important;
}

.nav-pills li a {
    color: #882bdf !important;
}

.bg-panel {
    background-clip:content-box;
    background-size: 100% 100%;
    position: relative;
    -webkit-filter:blur(3px);
    -moz-filter:blur(2px);
    clear: both;
        padding: 3px 0px;
}


.fg-panel {
    margin-bottom: -468px;
    position: relative;
}

.fg-panel, .bg-panel {
    height: 540px;
    width: 375px !important;
    margin-right: -375px;
    top: 0;
    left: 25%;
}

.fg-panel .panel-body, .panel-item, .panel-default .activity-body{
    border-color: #000000 !important;
    height: 375px !important;
}

.fg-panel .panel-footer{
    height: 125px;
}

.angular-google-map-container { 
    height: 200px; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.panel-default {
    background-color: transparent !important;
    background-image: none;
    border-color: #000000 !important;
}

.panel-footer, .panel-heading {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
    border-color: #000000 !important;
}

.fg-panel .panel-footer a{
    float: right;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:transparent;
    background-image:none;
}

.img-row{
    margin-bottom: 10px;
}

.btn {
    background-image:none !important;
    background-color:transparent !important;
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
    -webkit-transition: background-color .2s ease-in-out 0s !important;
    border-width: 2px !important;
}

.btn:hover{
    -webkit-transition: background-color .2s ease-in-out 0s !important;
}

.btn-success:hover{
    background-color: #54b054 !important;
}

.btn-info:hover{
    background-color: #4ebada !important;
}

.btn-danger:hover{
    background-color: #cf423e !important;
}

.btn-primary:hover{
    background-color: #0e82e7 !important;
}

.btn-warning:hover{
    background-color: #feff64 !important; 
}

.btn-default:hover{
    background-color: #ffffff !important;
}

.didit{
    padding: 30px !important;
    position:relative;
    top: 40px !important;
    left: 40px !important;
}
	.didit.completed {
		background-color: yellow !important;
	}

.panel-login{
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: white !important;
    border-color: #000000 !important;
}

.panel-heading {
    height: 70px;
    background-image: none !important;
    overflow: hidden;
}
.panel-heading h3 {
    background-image: none !important;
    margin: 10px 0;
}

.panel-default .activity-body{
    padding:0;
    margin:0;
    background-color:black;
    background-size: 100% auto;
}

.panel-default .panel-body .panel-item{
    margin-right: 0;
}

.noborder-color {
    border-color: transparent;
}

.no-border{
    padding: 0;
    margin: 0;
}

.upvote-panel{
    background-image: -webkit-gradient(linear, left bottom, right bottom, from(rgba(0, 0, 0, 0)), color-stop(0.345, rgba(0, 0, 0, 0.7)));
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 34.5%);
}

.upvote-inner {
    top: 40px;
    position: absolute;
}

.upvote-inner .label{
    font-size: 24px;
    text-align: center;
    line-height: 60px;
}

.upvote-inner button {
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    text-shadow: 0 0 0 black;
    background-color:transparent;
    background-image:none;
    padding: 40px 20px;
}

#map-canvas{
    padding: 0px;
}

.footer p{
    color: white !important;
}


.fg-panel, .bg-panel {
    height: 670px;
    width: 500px !important;
    margin-right: -500px;
    margin-bottom: 20px;
}

.fg-panel .panel-body, .panel-item, .panel-default .activity-body{
    border-color: #000000 !important;
    height: 470px !important;
}

.fg-panel .panel-footer{
    height: 125px;
}

.fg-panel .panel-footer p{
    overflow:hidden;
    height: 59px;
}


.panel-footer img.img-thumbnail{
    height: 93px;
    border-bottom-color: black !important;
    padding: 0px;
    margin: 0px;
    width: 93px;
}



@media (max-width: 767px) {
    
.fg-panel, .bg-panel {
    height: 545px;
    width: 375px !important;
    margin-right: -375px;
    margin-bottom: 20px;
    top: 0;
    left: 0;
}

.fg-panel .panel-body, .panel-item, .panel-default .activity-body{
    border-color: #000000;
    height: 344px !important;
}

.fg-panel .panel-footer{
    height: 125px;
}

}

@media (max-width: 450px) {



h1, h2, h3, h4, h5, h6, p, label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 0;
    text-indent: 3px !important;
    white-space: normal !important;
}

h1, h2, h3{
    font-weight: 400 !important;
}

h4, h5, h6, p {
    font-weight: 300 !important;
}

.fg-panel, .bg-panel {
    height: 466px;
    width: 300px !important;
    margin-right: -300px;
    margin-bottom: 20px;
    top: 0;
    left: 0;
}

.fg-panel .panel-body, .panel-item, .panel-default .activity-body{
    border-color: #000000;
    height: 268px !important;
}

.fg-panel .panel-footer{
    height: 125px;
}

.panel-footer row{
    padding: 0px;
    margin: 0px;    
}

.upvote-inner button {
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    text-shadow: 0 0 0 black;
    background-color:transparent;
    background-image:none;
    padding: 20px 15px;
}



.fg-panel .panel-footer p{
    height: 60px;
    overflow:hidden;
}

.panel-footer img.img-thumbnail{
    height:50px;
    width:50px; 
}



}
