/* @override http://cse210-kite.herokuapp.com/css/style.css?v=1.0 */

/* @override http://cse210-kite.herokuapp.com/css/style.css */

body {
    padding: 70px 0px;
    background: -moz-linear-gradient(90deg, rgb(130, 30, 216) 0%, rgb(75, 13, 134) 63.6%) scroll;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(130, 30, 216)), color-stop(0.636, rgb(75, 13, 134))) scroll;
}

.navbar{
    background: none rgba(0,0,0, 0.5) !important;
}

.navbar a, .name, .topline{
    color: white !important;
}

.nav-pills li.active a{
    background-color: #882bdf !important;
    color: white !important;
}

.nav-pills li a {
    color: #882bdf !important;
}

.bg-panel {
    background-clip:content-box;
    background-size: auto 100%;
    position: relative;
    top: 0;
    left: 0px;
    margin-right: -375px;
    -webkit-filter:blur(3px);
    -moz-filter:blur(2px);
    width: 375px !important;
    margin-bottom: 20px;
    clear: both;
    padding: 0;
}

.fg-panel {
    margin-bottom: -468px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 375px !important;
}

.fg-panel .panel-default, .bg-panel {
    height: 534px;
}

.fg-panel .panel-body{
    border-color: #000000 !important;
    height: 375px !important;
}

.fg-panel .panel-footer{
    height: 125px;
    font: 19px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.angular-google-map-container { 
    height: 200px; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.panel-default {
    background-color: transparent !important;
    background-image: none;
    border-color: #000000 !important;
}

.panel-footer, .panel-heading {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
    border-color: #000000 !important;
}

.fg-panel .panel-footer a{
    float: right;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:transparent;
    background-image:none;
}

.btn {
    background-image:none !important;
    background-color:transparent !important;
    color: white !important;
    text-shadow: 0 0px 0px black !important;
    -webkit-transition: background-color .2s ease-in-out 0s !important;
}

.btn:hover{
    -webkit-transition: background-color .2s ease-in-out 0s !important;
}

.btn-success:hover{
    background-color: #54b054 !important;
}

.btn-info:hover{
    background-color: #4ebada !important;
}

.btn-danger:hover{
    background-color: #cf423e !important;
}

.btn-default:hover{
    background-color: #ffffff !important;
}

.panel-login{
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: white !important;
    border-color: #000000 !important;
}

.panel-heading {
    height: 70px;
    background-image: none !important;
    overflow: hidden;
}
.panel-heading h3 {
    background-image: none !important;
    margin: 10px 0;
}

.panel-default .activity-body{
    padding:0;
    margin:0;
    background-color:black;
    background-size: 100% auto;
}

.panel-default .panel-body .panel-item{
    margin-right: 0;
}

.panel-item, .panel-default .activity-body{
        height: 343px !important;
}

.noborder-color {
    border-color: transparent;
}

.no-border{
    padding: 0;
    margin: 0;
}

.upvote-panel{
    background-image: -webkit-gradient(linear, left bottom, right bottom, from(rgba(0, 0, 0, 0)), color-stop(0.345, rgba(0, 0, 0, 0.7)));
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 34.5%);
}

.upvote-inner {
    top: 40px;
    position: absolute;
}

.upvote-inner .label{
    font-size: 24px;
    text-align: center;
    line-height: 60px;
}

.upvote-inner button {
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    text-shadow: 0 0 0 black;
    background-color:transparent;
    background-image:none;
    padding: 40px 20px;
}

#map-canvas{
    padding: 0px;
}

.footer p{
    color: white !important;
}
