<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
        <div class="row">
            <div class="col-xs-0 col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Create Activity</h3>
                    </div>
                    <div class="panel-body panel-login">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Activity Name</label>
                                <input class="form-control" type="text" ng-model="create_activity.data.name"/>
                            </div>
                            <div class="col-xs-12">
                                <label>Description</label>
                                <textarea class="form-control" type="textarea" ng-model="create_activity.data.description"/></textarea>
                            </div>
                            <div class="col-xs-12">
                                <label>Photo</label>
                                <div id="filepickerinput">
									<div 	filepicker path="/s3ServerPath/" 
											pickerclass="btn btn-default" 
											container="Mys3Bucket" 
											multiple="false" 
											mimetype="image/jpeg" 
											callback="create_activity.upload_photo(create_activity.data.photo_url);">
												Add Photo
									</div>
									<img	ng-src="{{create_activity.data.photo_url}}" 
											class="img-thumbnail"
											ng-show="create_activity.data.photo_url != null"
											style="max-height:100px; border-radius:5px; margin-top:5px;">
                                </div>
                                <!--<input type="hidden" name="img" value=""/>-->
                            </div>
							
							<div class="col-xs-12">
                                <label>Category</label>
								</br>
								<select	class="form-control"
										ng-model="create_activity.data.category" 
										ng-options="category.id as category.name for category in create_activity.categories.categories">
								</select>
							</div>
							
                            <div class="col-xs-12">
                                <label>Location</label>
                                <div class="input-group">
                                    <input class="form-control" type="text" ng-model="create_activity.data.location" ng-blur="create_activity.refresh_map()"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                    </span>
                                </div>
                                <br>
                                <google-map center="create_activity.map.center" zoom="create_activity.map.zoom">
									<marker coords="create_activity.map.center"></marker>
								</google-map>
								
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="#" class="btn btn-danger pull-left">Cancel</a>
                                <a ng-click="create_activity.add_activity()" class="btn btn-success pull-right">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-md-2"></div>
        </div>
    </div> <!-- /container -->