<div class="container">
      <!-- Main component for a primary marketing message or call to action -->
        <div class="row">
            <div class="col-xs-0 col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{{activity.name}}</h3>
                        </div>
                <div class="panel-body activity-body" style="background-image: url('{{activity.photos[0]}}');">
                    <div class="row panel-item">
                        <div>
                            <div class="col-xs-8 no-border panel-item">
                            </div>
                            <div class="col-xs-4 upvote-panel panel-item">
                                <div class="row text-center upvote-inner">
                                    <div class="col-md-6 pull-right">
                                        <div class="col-xs-12">
                                            <button class="btn btn-default btn-lg"><i style="color:green" class="glyphicon glyphicon-arrow-up" ng-click="vote.vote_up(activity.id)"></i></button>
                                        </div>
                                        <div class="col-xs-12">
                                            <span class="label">{{activity.num_votes}}</span>
                                        </div>
                                        <div class="col-xs-12">
                                            <button class="btn btn-default btn-lg"><i style="color:red" class="glyphicon glyphicon-arrow-down" ng-click="vote.vote_down(activity.id)"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                    <p>{{activity.description}}</p>
                            </div>
							
                            <div class="col-xs-12">
                                <hr>
                                <div class="well" id="map-canvas">
									<h3>Google maps goes here</h3>
                                    <google-map center="map.center" zoom="map.zoom"></google-map>
                                </div>
                            </div>
							
                            <div class="col-xs-12">
                                <hr>
								<div disqus="kiteapp"></div>
								<dir-disqus disqus-shortname="kiteapp"
                                     disqus-identifier="{{activity.id}}"
                                     disqus-url="http://kiteapp.com/activities/{{activity.id}}">
                                </dir-disqus>
                                <!-- <div id="disqus_thread"></div> -->
                                <!-- https://github.com/kirstein/angular-disqus -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-md-2"></div>
        </div>
    </div> <!-- /container -->
