<div class="container">
      <!-- Main component for a primary marketing message or call to action -->
        <div class="row">
            <div class="col-xs-0 col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{{activity.name}}</h3>
                        </div>
                <div class="panel-body activity-body" style="background-image: url('{{activity.photos[0].url}}');">
                    <div class="row panel-item">
                        <div>
                            <div class="col-xs-6 col-md-8 no-border panel-item">
                            </div>
							
                            <div class="col-xs-6 col-md-4 upvote-panel panel-item">
                                <div class="row text-center upvote-inner">
                                    <div class="col-md-6 pull-right">
                                        <div class="col-xs-12">
                                            <button class="btn btn-warning didit" 
                                                    ng-show="get_user()!=null"
                                                    ng-class="{completed:(activity.completed)}"
                                                    ng-click="complete_activity(activity.id)">
                                                <i class="glyphicon glyphicon-star" style="color:yellow">
                                                </i>
                                            </button>
                                        </div>
                                        <div class="col-xs-12">
                                            <button	class="btn btn-default btn-lg" 
													ng-class="{selected:(activity.vote==1)}"
													ng-disabled="get_user()==null"
													ng-click="vote.vote_up(activity.id)">
												<i style="color:green" class="glyphicon glyphicon-thumbs-up" >
                                                </i>
											</button>
                                        </div>
                                        <div class="col-xs-12">
                                            <span class="label">{{activity.avg_vote}}</span>
                                        </div>
                                        <div class="col-xs-12">
                                            <button class="btn btn-default btn-lg" 
													ng-class="{selected:(activity.vote<0)}"
													ng-disabled="get_user()==null"
													ng-click="vote.vote_down(activity.id)">
												<i style="color:red" class="glyphicon glyphicon-thumbs-down"></i>
											</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                    <p>{{activity.description}}</p>
									<p>@{{activity.location}}</p>
                            </div>
                            <hr>
                            <div class="col-xs-12 img-row">
								<span ng-repeat="photo in activity.photos">
									<a class="fancybox" rel="gallery" href="{{photo.url}}+j.jpg">
										<img class="img-thumbnail" style="margin:0 5px;" ng-src="{{photo.url}}+j.jpg">
									</a>
								</span>
                            </div>
                            <div class="col-xs-12">
								 <div id="filepickerinput">
									<div 	filepicker path="/s3ServerPath/" 
											pickerclass="btn btn-default" 
											class="pull-right"
											container="Mys3Bucket" 
											multiple="false" 
											mimetype="image/jpeg" 
											callback="activity.add_image(0);">
												Add Photo
									</div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <hr>
                                <div class="well" id="map-canvas">
									<google-map center="activity.map.center" zoom="activity.map.zoom">
										<marker coords="activity.map.center"></marker>
									</google-map>
                                </div>
                            </div>
							
                            <div class="col-xs-12">
                                <hr>
								<div disqus="kiteapp"></div>
								<dir-disqus disqus-shortname="kiteapp"
                                     disqus-identifier="{{activity.id}}"
                                     disqus-url="http://kiteapp.com/activities/{{activity.id}}">
                                </dir-disqus>
                                <!-- <div id="disqus_thread"></div> -->
                                <!-- https://github.com/kirstein/angular-disqus -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-md-2"></div>
        </div>
    </div> <!-- /container -->
