<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-xs-0 col-md-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Login</h3>
                </div>
                <div class="panel-body panel-login">
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Email</label>
                            <input class="form-control" placeholder="email :)" type="text" ng-model="login.credentials.email"/>
                        </div>
                        <div class="col-xs-12">
                            <label>Password</label>
                            <input class="form-control" type="password" ng-model="login.credentials.password"/>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <a ng-click="logout()" class="btn btn-info pull-left">Sign Up!</a>
                            <a ng-click="login.login()" class="btn btn-primary pull-right">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-0 col-md-4"></div>
    </div>
</div>