<div class="container top-buffer">

        <!--User Pic and Name Begin-->
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-10">
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <img alt="150x150" src="http://lorempixel.com/150/150/" class="img-circle avatar" style="float:left">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 content-heading">
                    <h2 class="name">{{user.name}} </h2>
                </div>
            </div>
            <!--<div class="col-xs-0 col-md-2"></div>-->
        </div>
        <!--User Pic and Name End-->

        <!--Badges Begin-->
        <div class="row top-buffer">

            <div class="row">
                <div class="col-xs-0 col-md-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8 section topline">
                    <h4>
                        Badges
                    </h4>
                </div>
                <div class="col-xs-0 col-md-2"></div>
            </div>


            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="container" id="main-content">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" ng-repeat="badge in user.badges">
                                <img alt="100x100" height=100px" width="100px" ng-src="{{badge.href}}" class="badge-img img-circle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
            </div>
        </div>
        <!--Badges End-->


        <div class="row top-buffer">
            <div class="row">
                <div class="col-xs-0 col-md-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8 section topline">
                    <h4>
                        Completed Activities
                    </h4>
                </div>
                <div class="col-xs-0 col-md-2"></div>
            </div>


            <!-- Completed Activities list begin -->
			<div class="row">
                <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="container" id="main-content">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" ng-repeat="completed in user.completed">
								<a href="#!/activities/{{completed.activity.id}}">
									<img alt="100x100" ng-src="{{completed.activity.photos[0].url}}" class="badge-img">
								</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
            </div>
			<!-- Completed Activities list end -->

        </div>
    </div>