<h1>Add a new Activity</h1>
<%= form_for @activity do |form| %>
 
  <p>
    <%= form.label :activity, "Your URL:" %>
    <%= form.text_field :activity %>
  </p>
 
 
  <p class='buttons'>
    <%= form.submit "Create" %>
  </p>
 
<% end %>